*.rbc
capybara-*.html
.rspec

/db/schema.rb
/log
/tmp
/db/*.sqlite3
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
#/config/initializers/secret_token.rb
#/config/secrets.yml
/config/database.yml
/config/initializers/redis.rb
/config/initializers/sidekiq.rb
/config/initializers/*.p12
/config/initializers/*.pem
/config/environments/development.rb

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

#
/dump.rdb
/public/system
/public/uploads/
/public/share/
/public/assets/
/public/*.ttf
/public/display/
/public/webapp/
/public/*.sql
/public/index.html
/public/*.sql
/*.sql
.DS_Store
Gemfile.lock
sunspot-solr.pid
.idea/


#pushserver
/pushserver/node_modules
/pushserver/npm-debug.log
/pushserver/log/



#solr
/solr/default/
/solr/development/
/solr/pids/
/solr/test/
/nbproject/

/config/initializers/abstract_mysql_adapter.rb
